:root {
  --primary-color: #333333;
  --accent-text-color: #ffffff;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #d6d6d6;

  --main-font-family: Rubik, sans-serif;
  --main-font-size: 18px;
  --section-title-font-size: 40px;
  --title-font-size: 32px;
  --main-font-weight: 400;

  --main-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-size: var(--main-font-size);
  color: var(--primary-color);
  background-color: var(--primary-bg-color);
  font-family: var(--main-font-family);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* picture {
    flex-shrink: 0;
    max-width: 100%;
  } */

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

.section {
  padding: 80px 0;
}

.logo,
.footer-logo {
  fill: var(--primary-color);
  line-height: 0;
  padding: 32px 0;
}

.title {
  font-weight: var(--main-font-weight);
  font-size: var(--section-title-font-size);
  margin-bottom: 60px;
}

.subtitle {
  font-weight: var(--main-font-weight);
  font-size: 46px;
}

.text {
}
/* -------------------HEADER------------------------------- */

.page-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-open-btn {
  fill: var(--primary-color);
  display: flex;
  background-color: transparent;
  cursor: pointer;
  border: none;
  align-items: center;
  padding: 0;
}

/* -------------------HERO------------------------------- */

.hero-section {
  padding-top: 38px;
  padding-bottom: 100px;
}

.hero-aside {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 24px;
  width: 122px;
  justify-content: flex-end;
  position: relative;
  display: flex;
  margin-bottom: 20px;
}

.hero-aside::before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  padding-right: 12px;
  width: 48px;
  border: 1px solid #333;
  content: "";
}

.hero-title {
  margin-bottom: 20px;
  font-size: var(--title-font-size);
}

.bold-text {
  font-weight: 500;
}

.about-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 56px;
}

.about-list {
  display: flex;
}

.about-item {
  width: 100%;
}

.hero-portrait {
  margin-bottom: 60px;
}

.soc-list {
  display: flex;
  /* gap: 32px; */
  padding: 0 20px;
  justify-content: space-between;
}
.soc-item {
}
.soc-link {
  display: flex;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.soc-icon {
  fill: #333;
}

/* -------------------INTRO------------------------------- */
.intro-section .title {
  font-size: var(--title-font-size);
}
/* -------------------SERVICES------------------------------- */
.services-section .title {
  text-transform: capitalize;
  text-align: center;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.services-list-item {
  width: 100%;
  background-color: var(--secondary-bg-color);
  padding: 68px 20px;
  transition: color 250ms var(--main-cubic-bezier),
    background-color 250ms var(--main-cubic-bezier);
}

.services-list-item .subtitle {
  margin-bottom: 20px;
}

.services-list-item .text {
  margin-bottom: 60px;
}

.services-link-wrap {
  display: flex;
}

.services-list-link {
  font-weight: 600;
  color: var(--primary-color);
  display: inline-flex;
  align-items: center;
  gap: 24px;
  transition: color 250ms var(--main-cubic-bezier),
    fill 250ms var(--main-cubic-bezier);
}

.services-list-item:hover,
.services-list-item:focus {
  background-color: var(--primary-color);
  color: var(--accent-text-color);
}

.services-list-item:hover .services-list-link,
.services-list-item:focus .services-list-link {
  color: var(--accent-text-color);
  fill: var(--accent-text-color);
}
